<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지원자 상세 페이지</title>
</head>
<body>

<h1>지원자</h1>
<table th:each="applicant : ${applicant}">
    <thead>
    <tr>
        <th>이름</th>
        <th>기수</th>
        <th>포지션</th>
        <th>email</th>
        <th>휴대전화번호</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${applicant.getUsername()}"></td>
        <td th:text="${applicant.getGeneration()}"></td>
        <td th:text="${applicant.getPosition()}"></td>
        <td th:text="${applicant.getEmail()}"></td>
        <td th:text="${applicant.getPhoneNumber()}"></td>
    </tr>
    </tbody>

</table>

<h2>답변</h2>
<table th:each="answer : ${answers}">
    <thead>
    <tr>
        <th>질문 번호</th>
        <th>질문</th>
        <th>답변</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${answer.getSequence()}"></td>
        <td th:text="${answer.getQuestion()}"></td>
        <td th:text="${answer.getAnswer()}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>